@import "tailwindcss";

@media print {
  body * {
    visibility: hidden;
  }
  #print-report, #print-report * {
    visibility: visible;
  }
  #print-report {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
}
